<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kfs.assetedu.repository.Sys01UserRepository">

   <sql id="whereConditon">
<!--		    검색조건 -->
   		<if test="sys01UserId != null">
	       	AND sys01_user_id = #{sys01UserId}
		</if>		
   		<if test="searchText != null">
	       	AND upper(concat(sys01_user_id, sys01_user_nm, sys01_pwd, sys01_tel, sys01_email)) like concat('%',upper(#{searchText}),'%')
		</if>
   </sql>	
   
	<select id="selectCount" parameterType="QueryAttr" resultType="Integer">
   		SELECT 
   			count(*) as count
   		FROM
   			sys01_user
   		WHERE 1=1
   			<include refid="whereConditon"/>	
   </select> 
   
   <select id="selectList" parameterType="QueryAttr"  resultType="Sys01User">
	   SELECT
	           sys01_user_id as sys01UserId 
             , sys01_user_nm as sys01UserNm 
             , sys01_pwd as sys01Pwd 
             , sys01_tel as sys01Tel 
             , sys01_email as sys01Email 
	   FROM 
	   		sys01_user 
	   WHERE 1=1 
		   <if test="searchText != null">
			   AND sys01_user_id like concat('%',lower(#{searchText}),'%')
		   </if>
		   <if test="pageAttr != null">
			   OFFSET ${pageAttr.offset} LIMIT ${pageAttr.limit}
		   </if>
	
   </select>

   <select id="selectOne" parameterType="Sys01User" resultType="Sys01User">
	   SELECT
	           sys01_user_id as sys01UserId 
             , sys01_user_nm as sys01UserNm 
             , sys01_pwd as sys01Pwd 
             , sys01_tel as sys01Tel 
             , sys01_email as sys01Email 
	   FROM 
	   		sys01_user 
	   WHERE 1=1
	   	AND sys01_user_id = #{sys01UserId}
   </select>
   
<!--   <select id="getDictId" resultType="String">-->
<!--        SELECT f_seq()-->
<!--   </select>-->
   
   <insert id="insert" parameterType="Sys01User">
      INSERT INTO sys01_user
      	( sys01_user_id, sys01_user_nm, sys01_pwd, sys01_tel, sys01_email )
      VALUES 
      	( #{sys01UserId}, #{sys01UserNm}, #{sys01Pwd}, #{sys01Tel}, #{sys01Email} )
   </insert> 
   
   <update id="update" parameterType="Sys01User">
      UPDATE  
      	    sys01_user 
      SET 
		sys01_user_nm = #{sys01UserNm} , 
		sys01_pwd = #{sys01Pwd} , 
		sys01_tel = #{sys01Tel} , 
		sys01_email = #{sys01Email} 
      WHERE 1=1
	     AND sys01_user_id = #{sys01UserId} 
   </update>
       
   <delete id="delete" parameterType="Sys01User">
      DELETE FROM 
        	sys01_user 
      WHERE 1=1 
      	 AND sys01_user_id = #{sys01UserId}
   </delete>    

</mapper>